.media-list {
  padding-left: 0;
  list-style: none;
}

li.media {
  width: 300px;
  margin: 0 auto 20px;
}

.media:first-child {
  border-top: 1px solid #cccccc;
  margin-top: 0;
  padding-top: 10px;
}

.media, .media-body {
  overflow: hidden;
  zoom: 1;
}

.media-body, .media-left, .media-right {
  display: table-cell;
  vertical-align: top;
}

.media-left, .media>.pull-left {
  padding-right: 10px;
}

.media-body {
  width: 10000px;
}

.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}

.media-thumb {
  width:80px;
}

.below img {
  height: 300px;
}

.media-middle {
  vertical-align: middle;
}

.music-title {
  margin-bottom: 10px;
}

.logo {
  width: 300px;
  margin: 0 auto 10px;
  border-bottom: 1px solid #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control {
  display: block;
  width: 300px;
  margin:0 auto 10px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}